.navbar{
    font-size: large;
}
.navbar-nav{
    margin-left: 30px;
}
.nav-item{
    margin: 10px;
    font-family: 'Lato', sans-serif;
    font-size: large;
}
#main_content {
    margin-top: 100px;
    font-family: 'Lato', sans-serif;
    
}
.navbar-brand{
    font-family:"Sofia", sans-serif;
    font-size: larger;
}
body {
    background-color: #f7f7f7;
}

#profile-img{
    max-width: 250px;
    float: left;
    padding-right: 50px;
    padding-bottom: 50px;
}
#profile-intro{
    max-width: 1000px;
}

#resume-page{
    margin: auto;
    padding-top: 60px;
    max-width: 1000px;
    line-height: 2.5;
}

#myImage{
    max-width:888px;
    max-height:500px;
    width: 100%;
    height: auto;
}